

.anuncioP{
    @extend %anuncioP;
    h1{
        color: white;
    }

    P{
        color: white;
    }

    a{
        transition: all 0.5s ease;
        &:hover{
            font-size: 24px;
        }
    }

}