.boton-menu {
    display: block;
    background-color: transparent;
    color: var(--clr-black);
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

.boton-menu:hover{
    color:  map-get($links, linksHeaderColorHover);
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 110px;
    height: 110px;
}



.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: #242424;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-black);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}

//carrito principal



:root {
    --clr-black: #242424;
    --clr-white: #f3f3f3;
    --clr-red: #a83434;
}

.boton.cerrar {
    background-color: var(--clr-red);
}


.modal-derecha {
    position: fixed;
    right: 20px;
    width: 30%;
    top: 120px;
    bottom: 20px;
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: .3s;
    box-shadow: 0 0 0 500vmax rgba(0, 0 ,0, .8);
}

.modal-derecha.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.carousel-control-next.active{
    display: none;
}

// carrito de compras

.contenedor-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.headerr {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  
  .navbarr {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .sidebar {
    grid-area: sidebar;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .sidebar2 {
    grid-area: sidebar2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .footerr {
    grid-area: footer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  .footerr2 {
    grid-area: footer2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header"  10px
      "navbar"  10px
      "sidebar" 10px
      "sidebar2" 10px
      "footer"  10px
      "footer2"  10px
      
  }

  
.grid-container {
      grid-template:
        "navbar  header header"  30px
        "navbar  sidebar sidebar2" 30px
        "navbar  footer footer2"  30px /
        100px    100px   100px;
}

  
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #8aa7ec;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 320px;
    width: 310px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid  #8aa7ec;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color:  #d16ba5;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: black;
  }
  
  .swiper-navBtn{
    color: #d16ba5;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #d16ba5;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #d16ba5;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #d16ba5;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }