$links: (
  linksHeaderColor: rgb(0, 0, 0),
  linksHeaderColorHover: coral,
  linksHeaderColorHover2: #b4ddea,
  linksHeaderColorHover3: #96e28e,
  linksHeaderColorHover4: #eab4b6,
);

$displays: (
  headerJustify: space-evenly,
  footerJustify: center
);