.texto_publicitario{
    @extend %texto_publicitario;
    a{
        text-decoration: none;
        color: white;
    }
}


.slider {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }